.footer__link {
  display: block;
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: rgba(147, 147, 147, 1);
  box-shadow: none;
  border: none;
  transition-property: box-shadow;
  @extend %transition;
  @include mq(tablet) {
    font-size: 16px;
    padding-bottom: 40px;
  }
  @include mq(desktop) {
    font-size: 20px;
  }
}
.footer__text {
  display: inline-block;
}

.footer__link:hover .footer__text,
.footer__link:focus .footer__text {
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 0 20px $main-color;
  border-radius: 10px;

}

